/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #111;
    color: white;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

